$color-background: #17a085;
$color-border-stick: #ca934e;
$color-border-stick-active: #fee22b;
$color-shadow-stick: #9d5d2d;
$color-shadow-stick-active: #dc9018;
$color-shadow-stick-inactive: #6b6b6b;
$color-background-stick: #f5c17f;
$color-background-stick-active: #f2c224;
$color-text-stick: #03004e;
$color-text-stick-active: #fff;
$color-background-button-reset: #fa9d1c;
$color-button: #fff;
$color-background-button-go: #d41a32;
