$tg-font-family: Poppins;
$tg-font-style: normal;
$tg-font-weight: bold;
$tg-font-variant: normal;
$tg-letter-spacing: 0;
// $tg-font-size-12: 12px;
// $tg-font-size-14: 14px;
// $tg-font-size-16: 16px;
// $tg-font-size-18: 18px;
// $tg-font-size-20: 20px;
// $tg-font-size-24: 24px;
// $tg-font-size-28: 28px;
// $tg-font-size-32: 32px;
// $tg-font-size-40: 40px;
// $tg-font-size-48: 48px;
// $tg-line-spacing-18: 18px;
// $tg-line-spacing-20: 20px;
// $tg-line-spacing-22: 22px;
// $tg-line-spacing-24: 24px;
// $tg-line-spacing-25: 25px;
// $tg-line-spacing-27: 27px;
// $tg-line-spacing-28: 28px;
// $tg-line-spacing-30: 30px;
// $tg-line-spacing-35: 35px;
// $tg-line-spacing-42: 42px;
// $tg-line-spacing-48: 48px;
// $tg-line-spacing-60: 60px;
// $tg-line-spacing-72: 72px;
